In [12]:
import pandas as pd
import numpy as np
print("DataFrame.apply function:\n")
info=pd.DataFrame([[3,9]]*4, columns=['S','R'])
print("\n original DataFrame \n",info)
print("\n Squareroot of DataFrame:\n",info.apply(np.sqrt))
print("sum of each column:\n",info.apply(np.sum,axis=0))
print("sum of each row:\n",info.apply(np.sum,axis=1))

DataFrame.apply function:


 original DataFrame
    S  R
0  3  9
1  3  9
2  3  9
3  3  9

 Squareroot of DataFrame:
           S    R
0  1.732051  3.0
1  1.732051  3.0
2  1.732051  3.0
3  1.732051  3.0
sum of each column:
 S    12
R    36
dtype: int64
sum of each row:
 0    12
1    12
2    12
3    12
dtype: int64

In [14]:
info=pd.DataFrame([[2,4,6],[1,3,5],[5,7,8]],columns=['X','Y','Z'])
print("\n original DatFrame:\n",info)
print("\n minimum and maximum value each column:\n")
print(info.agg(['min','max']))

 original DatFrame:
    X  Y  Z
0  2  4  6
1  1  3  5
2  5  7  8

 minimum and maximum value each column:

     X  Y  Z
min  1  3  5
max  5  7  8

In [5]:
import pandas as pd
import numpy as np
print("\n DataFrame.assign function:")
d2=pd.DataFrame([['A',88],['B',70]])
columns=(['Emp','ID'])
print("\n original DataFrame:\n",d2)
d2['Age']=[20,18]
print("\n Adding new columns:\n",d2)
d=d2.assign(sex=['Male','Male'])
print("\n adding new columns:\n",d)

 DataFrame.assign function:

 original DataFrame:
    0   1
0  A  88
1  B  70

 Adding new columns:
    0   1  Age
0  A  88   20
1  B  70   18

 adding new columns:
    0   1  Age   sex
0  A  88   20  Male
1  B  70   18  Male

In [4]:
import pandas as pd
import numpy as np
print("\n DataFrame.sort function:\n")
info=pd.DataFrame(np.random.randn(5,2),index=[3,2,0,4,1],columns=['A','B'])
print(info)
info2=info.sort_index()
print("\n sort index:\n",info2)
info3=info.sort_values(by='A')
print("\n sort values:\n",info3)

 DataFrame.sort function:

          A         B
3 -0.136248  1.341679
2  0.084450 -0.190697
0 -0.551072  0.343493
4  0.269150 -0.052594
1 -1.598503  0.431641

 sort index:
           A         B
0 -0.551072  0.343493
1 -1.598503  0.431641
2  0.084450 -0.190697
3 -0.136248  1.341679
4  0.269150 -0.052594

 sort values:
           A         B
1 -1.598503  0.431641
0 -0.551072  0.343493
3 -0.136248  1.341679
2  0.084450 -0.190697
4  0.269150 -0.052594

In [6]:
print("\n DataFrame Merge function:\n")
left=pd.DataFrame({'id':[1,2,3,4],'name':['sam','yash','ram','raja'],'sub':['sub 1','sub 2','sub 3','sub 4']})
right=pd.DataFrame({'id':[1,2,3,4],'name':['ram','sam','akshai','babu'],'sub':['sub 1','sub 4','sub 3','sub 2']})
print(left)
print(right)
print(pd.merge(left,right,on='id'))

 DataFrame Merge function:

   id  name    sub
0   1   sam  sub 1
1   2  yash  sub 2
2   3   ram  sub 3
3   4  raja  sub 4
   id    name    sub
0   1     ram  sub 1
1   2     sam  sub 4
2   3  akshai  sub 3
3   4    babu  sub 2
   id name_x  sub_x  name_y  sub_y
0   1    sam  sub 1     ram  sub 1
1   2   yash  sub 2     sam  sub 4
2   3    ram  sub 3  akshai  sub 3
3   4   raja  sub 4    babu  sub 2