In [6]:
import pandas as pd
import numpy as np
df=pd.DataFrame(np.random.randn(4,3),index=['a','c','d','f'],columns=['one','two','three'])
df=df.reindex(['a','b','c','d','e','f'])
print("Original DataFrame with NaN\n",df)
print("\n")
print("dropped DataFrame\n",df.dropna())
print("\n")

Original DataFrame with NaN
         one       two     three
a -1.335581 -1.659767  1.207837
b       NaN       NaN       NaN
c  0.785737  0.105136  0.016196
d  0.153722  1.430788  0.182176
e       NaN       NaN       NaN
f  0.409784 -0.386878 -0.719593


dropped DataFrame
         one       two     three
a -1.335581 -1.659767  1.207837
c  0.785737  0.105136  0.016196
d  0.153722  1.430788  0.182176
f  0.409784 -0.386878 -0.719593

In [8]:
import pandas as pd
import numpy as np
df=pd.DataFrame(np.random.randn(4,3),index=['a','c','d','f'],columns=['one','two','three'])
df=df.reindex(['a','b','c'])
print("Original DataFrame:\n",df)
print("\n")
print("dropped DataFrame\n",df.fillna(0))
print("\n")

Original DataFrame:
         one       two     three
a  0.017115 -1.193114  0.189302
b       NaN       NaN       NaN
c -0.158374  1.200373 -1.567564


dropped DataFrame
         one       two     three
a  0.017115 -1.193114  0.189302
b  0.000000  0.000000  0.000000
c -0.158374  1.200373 -1.567564

In [10]:
df=pd.DataFrame({'one':[10,20,30,40,50],'two':[60,70,80,0,10]})
print("Original DataFrame:\n",df)
print("\n DataFrame with replaced values:\n")
print(df.replace({10:5,80:3}))

Original DataFrame:
    one  two
0   10   60
1   20   70
2   30   80
3   40    0
4   50   10

 DataFrame with replaced values:

   one  two
0    5   60
1   20   70
2   30    3
3   40    0
4   50    5

In [13]:
df=pd.DataFrame(np.random.randn(4,3),index=['a','c','d','f'],columns=['one','two','three'])
df=df.reindex(['a','b','c','d','e','f'])
print("Original DataFrame:\n",df)
print("\n NaN-with True fill:\n")
print(df['one'].isnull())

Original DataFrame:
         one       two     three
a  1.427440  1.139991  1.396683
b       NaN       NaN       NaN
c  0.085339 -1.056701  0.753729
d  0.408817  0.220846  0.799146
e       NaN       NaN       NaN
f -1.153633  1.010734 -0.629987

 NaN-with True fill:

a    False
b     True
c    False
d    False
e     True
f    False
Name: one, dtype: bool

In [16]:

print("NaN filled with background values:\n")
print(df.fillna(method="bfill"))

NaN filled with background values:

        one       two     three
a  1.427440  1.139991  1.396683
b  0.085339 -1.056701  0.753729
c  0.085339 -1.056701  0.753729
d  0.408817  0.220846  0.799146
e -1.153633  1.010734 -0.629987
f -1.153633  1.010734 -0.629987