In [5]:
import pandas as pd
df=pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [6]:
emp=pd.Series(['Dharun','Sudeep','Siva','Yash','Keerthana'])
id=pd.Series([80,90,28,57,49])
frame={'emp':emp,'ID':id}
res=pd.DataFrame(frame)
print("\n series to data frame \n")
print(res)

 series to data frame

         emp  ID
0     Dharun  80
1     Sudeep  90
2       Siva  28
3       Yash  57
4  Keerthana  49

In [8]:
print("\n Extracting one column \n")
print(res['emp'])

 Extracting one column

0       Dharun
1       Sudeep
2         Siva
3         Yash
4    Keerthana
Name: emp, dtype: object

In [10]:
print("\n assing one column:\n")
res['ID']=pd.Series([80,90,28,56,89])
res['Age']=pd.Series([19,90,34,67,20])
print(res)

 assing one column:

         emp  ID  Age
0     Dharun  80   19
1     Sudeep  90   90
2       Siva  28   34
3       Yash  56   67
4  Keerthana  89   20

In [27]:
print("\n Deleting new column")
del res['Age']
print(res)

 Deletin new column
         emp  ID
0     Dharun  80
1     Sudeep  90
2       Siva  28
3       Yash  56
4  Keerthana  89

In [30]:
print("\n extracting the several rows \n")
print(res.loc[1])

 extracting the several rows

emp    Sudeep
ID         90
Name: 1, dtype: object

In [32]:
print("Slice rows:\n",res[1:4])

Slice rows:
       emp  ID
1  Sudeep  90
2    Siva  28
3    Yash  56