In [5]:
import pandas as pd
d1={"name":["sri","sai","abi"],"age":[20,21,22]}
d2={"qualified":[True,True,False]}
df1=pd.DataFrame(d1)
print(df1)
df2=pd.DataFrame(d2)
print(df2)
newdf=df1.join(df2)
print(newdf)

  name  age
0  sri   20
1  sai   21
2  abi   22
   qualified
0       True
1       True
2      False
  name  age  qualified
0  sri   20       True
1  sai   21       True
2  abi   22      False

In [6]:
import pandas as pd
d1={"name":["sri","sai","abi"],"age":[20,21,22]}
d2={"name":["yuvi","pooja","sanjay"],"age":[20,21,22]}
df1=pd.DataFrame(d1)
print(df1)
df2=pd.DataFrame(d2)
print(df2)
newdf1=(df2.merge(df1,on="age"))
print(newdf1)

  name  age
0  sri   20
1  sai   21
2  abi   22
     name  age
0    yuvi   20
1   pooja   21
2  sanjay   22
   name_x  age name_y
0    yuvi   20    sri
1   pooja   21    sai
2  sanjay   22    abi

In [12]:
df=pd.DataFrame({"team":['A','B','C','D'],"points":[90,56,78,88],"assists":[12,34,23,44],"rebound":[56,43,55,12]})
print(df)
df=pd.melt(df,id_vars="team",value_vars=['points','assists','rebound'])
print(df)

  team  points  assists  rebound
0    A      90       12       56
1    B      56       34       43
2    C      78       23       55
3    D      88       44       12
   team variable  value
0     A   points     90
1     B   points     56
2     C   points     78
3     D   points     88
4     A  assists     12
5     B  assists     34
6     C  assists     23
7     D  assists     44
8     A  rebound     56
9     B  rebound     43
10    C  rebound     55
11    D  rebound     12