In [22]:
import pandas as pd
pd.set_option('display.max_columns',10)
print("Original Data:\n")
df=pd.read_excel("/Users/student/Downloads/performance58.xlsx")
print(df)

Original Data:

    S.NO  ROLL NO.      NAME   ENG  TAMIL  MATHS  SCIENCE  SOCIAL  TOTAL
0      1       101   Ronaldo  87.0   15.0   48.0     79.0    93.0    322
1      2       102     Kohli  99.0   61.0   45.0     77.0    90.0    372
2      3       103     Rohit  78.0   45.0   35.0     89.0    45.0    292
3      4       104   Shubman  98.0   65.0   54.0     45.0    75.0    337
4      5       105   Shreyas  35.0   76.0   78.0     36.0    76.0    301
5      6       106     Rahul  59.0   87.0   87.0     25.0    76.0    334
6      7       107      Axar  78.0   98.0   65.0     75.0    87.0    403
7      8       108    Pandya  90.0   90.0   87.0     87.0    67.0    421
8      9       109    Jadeja  75.0   98.0   65.0     85.0    76.0    399
9     10       110     Shami   NaN    NaN    NaN      NaN     NaN      0
10    11       111     Varun  75.0   67.0   56.0     56.0    77.0    331
11    12       112   Kuldeep  24.0   56.0   67.0     86.0    67.0    300
12    13       113     Smith  86.0   45.0   97.0     87.0    87.0    402
13    14       114      Kane  77.0   34.0   87.0     90.0    45.0    333
14    15       115     Gayle   NaN    NaN    NaN      NaN     NaN      0
15    16       116     Bravo  92.0   43.0   57.0     76.0    64.0    332
16    17       117     Steph  52.0   23.0   77.0     54.0    25.0    231
17    18       118     Ramos  76.0   35.0   97.0     46.0    75.0    329
18    19       119  Busquets  99.0   46.0   88.0     76.0    75.0    384
19    20       120     Puyol  65.0   67.0   57.0     77.0    35.0    301

In [23]:
f=df["NAME"].str.strip()
f.to_excel("/Users/student/downloads/Empty 58.xlsx")
print(f)

0      Ronaldo
1        Kohli
2        Rohit
3      Shubman
4      Shreyas
5        Rahul
6         Axar
7       Pandya
8       Jadeja
9        Shami
10       Varun
11     Kuldeep
12       Smith
13        Kane
14       Gayle
15       Bravo
16       Steph
17       Ramos
18    Busquets
19       Puyol
Name: NAME, dtype: object

In [26]:
print("\nReplaceValue:")
k=df.fillna(method='pad')
print(k)
print("\n Updated List\n")
k.to_excel("/Users/student/downloads/Empty 58.xlsx")

ReplaceValue:
    S.NO  ROLL NO.      NAME   ENG  TAMIL  MATHS  SCIENCE  SOCIAL  TOTAL
0      1       101   Ronaldo  87.0   15.0   48.0     79.0    93.0    322
1      2       102     Kohli  99.0   61.0   45.0     77.0    90.0    372
2      3       103     Rohit  78.0   45.0   35.0     89.0    45.0    292
3      4       104   Shubman  98.0   65.0   54.0     45.0    75.0    337
4      5       105   Shreyas  35.0   76.0   78.0     36.0    76.0    301
5      6       106     Rahul  59.0   87.0   87.0     25.0    76.0    334
6      7       107      Axar  78.0   98.0   65.0     75.0    87.0    403
7      8       108    Pandya  90.0   90.0   87.0     87.0    67.0    421
8      9       109    Jadeja  75.0   98.0   65.0     85.0    76.0    399
9     10       110     Shami  75.0   98.0   65.0     85.0    76.0      0
10    11       111     Varun  75.0   67.0   56.0     56.0    77.0    331
11    12       112   Kuldeep  24.0   56.0   67.0     86.0    67.0    300
12    13       113     Smith  86.0   45.0   97.0     87.0    87.0    402
13    14       114      Kane  77.0   34.0   87.0     90.0    45.0    333
14    15       115     Gayle  77.0   34.0   87.0     90.0    45.0      0
15    16       116     Bravo  92.0   43.0   57.0     76.0    64.0    332
16    17       117     Steph  52.0   23.0   77.0     54.0    25.0    231
17    18       118     Ramos  76.0   35.0   97.0     46.0    75.0    329
18    19       119  Busquets  99.0   46.0   88.0     76.0    75.0    384
19    20       120     Puyol  65.0   67.0   57.0     77.0    35.0    301

 Updated List

In [25]:
print("\n drop one particular column and its values:\n")
k.drop(['SOCIAL'],axis=1,inplace=True)
print(k)
print("\n updated list\n")
k.to_excel("/users/student/downloads/Empty 58.xlsx")

 drop one particular column and its values:

    S.NO  ROLL NO.      NAME   ENG  TAMIL  MATHS  SCIENCE  TOTAL
0      1       101   Ronaldo  87.0   15.0   48.0     79.0    322
1      2       102     Kohli  99.0   61.0   45.0     77.0    372
2      3       103     Rohit  78.0   45.0   35.0     89.0    292
3      4       104   Shubman  98.0   65.0   54.0     45.0    337
4      5       105   Shreyas  35.0   76.0   78.0     36.0    301
5      6       106     Rahul  59.0   87.0   87.0     25.0    334
6      7       107      Axar  78.0   98.0   65.0     75.0    403
7      8       108    Pandya  90.0   90.0   87.0     87.0    421
8      9       109    Jadeja  75.0   98.0   65.0     85.0    399
9     10       110     Shami  75.0   98.0   65.0     85.0      0
10    11       111     Varun  75.0   67.0   56.0     56.0    331
11    12       112   Kuldeep  24.0   56.0   67.0     86.0    300
12    13       113     Smith  86.0   45.0   97.0     87.0    402
13    14       114      Kane  77.0   34.0   87.0     90.0    333
14    15       115     Gayle  77.0   34.0   87.0     90.0      0
15    16       116     Bravo  92.0   43.0   57.0     76.0    332
16    17       117     Steph  52.0   23.0   77.0     54.0    231
17    18       118     Ramos  76.0   35.0   97.0     46.0    329
18    19       119  Busquets  99.0   46.0   88.0     76.0    384
19    20       120     Puyol  65.0   67.0   57.0     77.0    301

 updated list